
<div class="modal fade" id="modal_member_detail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl" role="document">
        <div id="detail_member" class="modal-content p-4">
        </div>
    </div>
</div>