
@{
	ViewData["Title"] = "Không tìm thấy trang";
	Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<section class="wrapper bg-light">
	<div class="container pt-12 pt-md-14 pb-14 pb-md-16">
		<div class="row">
			<div class="col-lg-9 col-xl-8 mx-auto">
				<figure class="mb-10"><img class="img-fluid mw-100 h-25" src="~/assets/img/other/page-not-found.svg" alt="hông tìm thấy trang"></figure>
			</div>
			<!-- /column -->
			<div class="col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
				<h1 class="mb-3 text-uppercase">Đường dẫn không tìm thấy.</h1>
				<a href="/" class="btn btn-primary rounded-pill">Quay lại trang chủ</a>
			</div>
			<!-- /column -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->
</section>
<!-- /section -->
