<div class="about-section section-padding-01 scene bg-color-06 custom_about_us">
    <div class="container">
        <div class="about-wrapper scene">
            <div class="about-main-content">
                <div class="row align-items-center gy-10">
                    <div class="col-md-6">
                        <div class="about-image-03">
                            <div class="about-image-03__image" data-aos="fade-up" data-aos-duration="1000">
                                <img src="/assets/images/img_dev/TDC.jpg" alt="About" width="640" height="400">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="about-content" data-aos="fade-up" data-aos-duration="1000">
                            <div class="section-title mb-2">
                                <h3 class="section-title__title-02 text-primary">GIỚI THIỆU HỘI DOANH NGHIỆP CEO – TDC</h3>
                            </div>
                            <p>
                                Thưa các Bạn ! <br />
                                Cuộc đời doanh nhân gặp rất nhiều bài toán khó. Vì vậy, điều chúng ta phải làm là biến những bài toán khó ấy thành động lực kaizen đầy thú vị để tiến lên, bằng cách chúng ta cùng nhau:
                                “Kết nối – Chia sẻ - Đồng hành cùng phát triển”
                                Đây cũng chính là kim chỉ nam hoạt động của Hội CEO – TDC.
                            </p>
                        </div>
                        <div><a class="mt-4 btn btn-outline-dark" href="/gioi-thieu?c=15" style="border:1px solid grey;">Tìm hiểu thêm</a></div>
                    </div>
                </div>
            </div>
            <div class="about-wrapper__shape-01" data-depth="-0.5"></div>
            <div class="about-wrapper__shape-02" data-depth="0.5"></div>
            <div class="about-wrapper__shape-03" data-depth="-0.4"></div>
        </div>
    </div>
    <img class="about-section__shape-03" data-depth="-0.4" src="assets/images/shape/edumall-shape-grid-dots.png" alt="Shape">
    <div class="about-section__shape-04" data-depth="0.4"></div>
</div>