<div class="slider-section slider-section-05 banner_top" style="background-image: url(../assets/images/img_dev/BannerTop.jpg); ">
    <div class="container">
        <div class="slider-caption-05 text-center" data-aos="fade-up" data-aos-duration="1000">
            <h2 class="slider-caption-05__main-title custom_text_banner_top">HỘI DOANH NHÂN CEO TDC<br> <span></span></h2>
            <h2 class="slider-caption-05__main-title m-0 custom_logo_banner_top" style="color: #ffc221">MALCOLM BALDRIGE <br> <span></span>
            </h2>
            <p class="slider-caption-05__main-title m-0">KẾT NỐI - CHIA SẺ - ĐỒNG HÀNH CÙNG PHÁT TRIỂN <br> <span></span></p>
            <div class="slider-caption-05__btn">
                @*<button class="btn btn-primary btn-hover-secondary" data-bs-toggle="modal" data-bs-target="#registerModal">Liên hệ ngay</button>*@
                <a class="btn  btn-primary btn-hover-secondary mt-2" href="/lien-he">Liên hệ ngay</a>
                <a class="btn btn-white btn-hover-primary mt-2" href="#introduce">Tìm hiểu</a>
            </div>
            
        </div>
    </div>
</div>