<div class="banner-section section-padding-02 pt-5">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title-04" style="color:#0071dc">HỘI DOANH NGHIỆP CEO TDC CÓ GÌ ? </h2>
            <p class="mt-0">TDC cung cấp các dịch vụ tư vấn – đào tạo được thiết kế theo nhu cầu của từng khách hàng trên nhiều lĩnh vực khác nhau</p>
        </div>
        <div class="banner-active banner_mid">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-item img_banner_mid">
                            <a href="/gioi-thieu" style="width:350px ; height: 270px">
                                <img src="/assets/images/img_dev/BannerMid_1.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-item img_banner_mid">
                            <a href="/gioi-thieu" style="width:350px ; height: 270px">
                                <img src="/assets/images/img_dev/TDC.jpg" alt="Banner">
                            </a>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-item img_banner_mid">
                            <a href="/gioi-thieu" style="width:350px ; height: 270px">
                                <img src="/assets/images/img_dev/BannerMid_3.png" alt="Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>