<section class="row bg_bottom m-0" style="background-image: url('/assets/images/img_dev/partner.jpg')">
    <div class="container text-center m-auto">
        <p class="mb-0" style="font-size:16px; text-shadow: 3px 4px 7px rgb(220 53 69 / 73%);">Hội viên</p>
        <h3>Chúng tôi có những hội viên tốt nhất có thể hỗ trợ bạn</h3>
        <a href="/hoi-vien?c=-2" class="btn btn-danger mt-3" style="color:white">Khám phá ngay</a>
    </div>
</section>