<div class="faq-section section-padding-01 bg-color-01 befenit pb-md-12">
    <div class="container custom-container">
        <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
            <h2 class="section-title__title-03 mark-title fs-10">Những lợi ích của hội CEO TDC mang lại cho các thành viên tham gia</h2>
        </div>
        <div class="row gy-10 align-items-center">
            <div class="col-lg-6">
                <div class="faq-image">
                    <div class="faq-image__image" data-aos="fade-up" data-aos-duration="1000">
                        <img src="assets/images/faqs-image.png" alt="FAQ" width="629" height="512">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="faq-accordion" data-aos="fade-up" data-aos-duration="1000">
                    <div class="accordion" id="accordionFAQ">
                        <div class="accordion-item">
                            <button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                             Cơ hội học hỏi kiến thức và kinh nghiệm quản lý của các CEO trong nhóm và đội ngũ chuyên gia TDC
                            </button>
                            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">
                                    <p>
                                       - Thu thập & tổng hợp các tài liệu về kiến thức Quản Lý Doanh nghiệp dựa trên khung Malcolm Baldridge (Tổng quát & Chi tiết cho 7 tiêu chí). Tài liệu bao gồm sách, các bài viết, các bài giảng, các video, các kinh nghiệm áp dụng thực tế của các doanh nghiệp được phân loại tương ứng vào các tiêu chí của Malcolm Baldrige.<br />
                                       - Tổ chức chương trình “Học tập suốt đời” vào Thứ Năm hàng tuần nhằm giúp các thành viên có cơ hội trao đổi, chia sẻ kiến thức với nhau trong quá trình vận hành doanh nghiệp của mình.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo">Nêu ra các khó khăn và các giải pháp giải quyết các khó khăn từ các thành viên trong nhóm để cùng nhau phát triển</button>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">
                                    <p>
                                        - Các thành viên nêu khó khăn doanh nghiệp mình gặp phải (tự nguyện hoặc thông qua các câu hỏi khảo sát)<br />
                                        - Ban chấp hành & cố vấn xem xét, thiết lập thành đề tài (bảo mật thông tin người nêu khó khăn) và đưa váo nhóm thảo luận các thứ 5 hàng tuần trong chương trình học tập suốt đời<br />
                                        - Các thành viên nghiên cứu và đưa ra các giải pháp có thể có.<br />
                                       - Ban chấp hành & cố vấn tổng hợp các giải pháp và cập nhật vào Website để mọi thành viên tham khảo và áp dụng tùy theo bối cảnh của công ty mình.

                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree">
                                Lan tỏa giá trị bản thân của các thành viên đến cộng đồng & lựa chọn đối tác kinh doanh phù hợp
                            </button>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">
                                    <p>
                                        - Tiểu sử bản thân, thông tin doanh nghiệp & Các đóng góp cho cộng đồng.<br />
                                        - Nếu thành viên có bài chia sẻ, bài chia sẻ phải liên quan đến việc áp dụng một trong các tiêu chí của Malcolm Baldrige và được Ban cố vấn duyệt bài.<br />
                                        - Các thành viên tự kết nối và lựa chọn đối tác kinh doanh phù hợp với mình đảm bảo đúng luật pháp.
                                    </p>
                                </div>
                            </div>
                        </div>
                        @*<div class="accordion-item">
                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour">
                                Lựa chọn các đối tác kinh doanh phù hợp để đồng hành cùng doanh nghiệp của các thành viên để phát triển
                            </button>
                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFAQ">
                                <div class="accordion-body">
                                    <p>
                                        Thông tin các cặp doanh nghiệp kết nối kinh doanh thành công với nhau.
                                        Nội dung chia sẻ của các CEO kết nối kinh doanh thành công: “Người bán - Cách chinh phục; Người mua - Cách đánh giá”.
                                        Đóng góp quỹ hội tự nguyện của người bán.
                                    </p>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>