<div class="features-section-02 bg-color-06 section-padding-01">
    <div class="container custom-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="feature-title">
                    <div class="section-title">
                        <h2 class="section-title__title-03" style="font-size: 19px;">Những lợi ích của hội CEO TDC mang lại cho các thành viên tham gia</h2>
                        <p>Bạn hãy tự tin vì bạn đã có sự hỗ trợ và giúp đỡ của chúng tôi..</p>
                    </div>
                </div>
                <div class="feature-image">
                    <div class="feature-image__shape-01"></div>
                    <div class="feature-image__shape-02"></div>
                    <div class="feature-image__image" data-aos="fade-up" data-aos-duration="1000">
                        <img src="assets/images/feature-image.png" alt="Feature" width="372" height="366">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row gy-6">
                    <div class="col-sm-6 mt-sm-10">
                        <div class="features-item-02" data-aos="fade-up" data-aos-duration="1000">
                            <div class="features-item-02__icon color-01">
                                <i class="fad fa-level-up-alt"></i>
                            </div>
                            <div class="features-item-02__content">
                                <h4 class="features-item-02__title"> Cơ hội học hỏi kiến thức và kinh nghiệm của đội ngũ chuyên gia TDC và các CEO thành công</h4>
                            </div>
                        </div>
                        <div class="features-item-02" data-aos="fade-up" data-aos-duration="1000">
                            <div class="features-item-02__icon color-02">
                                <i class="fad fa-angel"></i>
                            </div>
                            <div class="features-item-02__content">
                                <h4 class="features-item-02__title">Lan tỏa giá trị bản thân của các thành viên đến cộng đồng</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="features-item-02" data-aos="fade-up" data-aos-duration="1000">
                            <div class="features-item-02__icon color-03">
                                <i class="fad fa-layer-group"></i>
                            </div>
                            <div class="features-item-02__content">
                                <h4 class="features-item-02__title">Mở rộng các mối quan hệ chân thành, chân tín</h4>
                            </div>
                        </div>
                        <div class="features-item-02" data-aos="fade-up" data-aos-duration="1000">
                            <div class="features-item-02__icon color-04">
                                <i class="fad fa-people-arrows"></i>
                            </div>
                            <div class="features-item-02__content">
                                <h4 class="features-item-02__title">Lựa chọn các đối tác kinh doanh phù hợp để đồng hành cùng doanh nghiệp của các thành viên để phát triển</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>