<div class="section-padding-02 pt-5 pb-5">
    <div class="container">
       @* <div class="row">
            <div class="col-sm-8">
                <div class="section-title aos-init aos-animate">
                    <h2 class="section-title__title"><mark>TẦM NHÌN VÀ SỨ MỆNH</mark></h2>
                </div>
            </div>
        </div>*@

        <div class="row g-6">
            <div class="col-lg-3 col-sm-6">
                <div class="edumall-box-item text-center aos-init aos-animate custom_card_vison_and_mission" style="background-color: rgb(1 175 243 / 10%">
                    <div class="edumall-box-item__icon">
                        <img src="assets/images/icon/image-box-01.png" style="height:100px" alt="Icon" width="100" height="100">
                    </div>
                    <div class="edumall-box-item__content">
                        <h4 class="edumall-box-item__title custom_title_vision" style="color:#ff0000">GIÁ TRỊ CỐT LÕI</h4>
                        <p class="m-0"> <span class="text-danger">Kết nối - Chia sẻ - Đồng hành</span> cùng phát triển</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="edumall-box-item text-center aos-init aos-animate custom_card_vison_and_mission" style="background: rgb(0 175 80 / 10%)">
                    <div class="edumall-box-item__icon">
                        <img src="assets/images/icon/image-box-02.png" style="height:100px" alt="Icon" width="100" height="100">
                    </div>
                    <div class="edumall-box-item__content">
                        <h4 class="edumall-box-item__title custom_title_vision" style="color:#ff0000">NĂNG LỰC CỐT LÕI</h4>
                        <p class="m-0">Giải pháp hiệu quả tức thì</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="edumall-box-item text-center aos-init aos-animate custom_card_vison_and_mission" style="background: rgb(254 193 0 / 10%)">
                    <div class="edumall-box-item__icon">
                        <img src="assets/images/icon/image-box-06.png" style="height:100px" alt="Icon" width="100" height="100">
                    </div>
                    <div class="edumall-box-item__content">
                        <h4 class="edumall-box-item__title custom_title_vision" style="color:#ff0000">TẦM NHÌN</h4>
                        <p class="m-0">Kết nối - Chia sẻ - Đồng hành cùng phát triển bằng các biện pháp  <span class="text-danger">hiệu quả tức thì</span> để giúp các thành viên thành công</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="edumall-box-item text-center aos-init aos-animate custom_card_vison_and_mission" style="background: rgb(192 0 0 / 10%)">
                    <div class="edumall-box-item__icon">
                        <img src="assets/images/icon/image-box-03.png" style="height:100px" alt="Icon" width="100" height="100">
                    </div>
                    <div class="edumall-box-item__content">
                        <h4 class="edumall-box-item__title custom_title_vision" style="color:#ff0000">SỨ MỆNH</h4>
                        <p class="m-0">Cùng nhau đạt được nhiều thành công <span class="text-danger fw-bold">T</span>ogether <span class="text-danger fw-bold">E</span>veryone <span class="text-danger fw-bold">A</span>chieve <span class="text-danger fw-bold">M</span>any <span class="text-danger fw-bold">S</span>uccesses</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>