.service_wrapper .img_service {
    max-width: 570px;
    max-height: 266px;
}

    .service_wrapper .img_service img {
        width: 100%;
    }

.service_wrapper {
    background: linear-gradient(0deg,#f3fafe,rgba(255,255,255,0) 100%);
}

    .service_wrapper .service_item {
        overflow: hidden;
    }

        .service_wrapper .service_item .blog-list-item__content {
            background: white;
            box-shadow: 0 0 0 0.05rem rgb(8 60 130 / 6%), 0 0 1.25rem rgb(30 34 40 / 4%);
            padding: 0px 14px 14px 14px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

.service_wrapper_page {
    background: linear-gradient(0deg,#f3fafe,rgba(255,255,255,0) 100%);
}

    .service_wrapper_page .blog-details-no-sidebar {
        box-shadow: 0 0 0 0.05rem rgb(8 60 130 / 6%), 0 0 1.25rem rgb(30 34 40 / 4%);
        border: 0;
        border-radius: 8px;
        max-width: 1200px;
        background: white;
    }

    .service_wrapper_page .blog-details__title-02 {
        font-size: 25px;
        margin: 0px;
    }

    .service_wrapper_page .blog-details__categories-02 {
        margin-bottom: 13px;
    }

    .service_wrapper_page .blockquote {
        margin: 30px 0px;
    }

    .service_wrapper_page .blog-details__content {
        padding-top: unset;
    }

    .service_wrapper_page .related-post-item {
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        border: none;
        border-radius: 10px;
        height: 100%;
        margin-bottom: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

        .service_wrapper_page .related-post-item .related-post-item__content .related-post-item__title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .service_wrapper_page .related-post-item .related-post-item__content {
            padding: 5px 10px;
        }

    .service_wrapper_page .related-post-item__image a {
        width: 340px;
        height: 180px;
    }

.list_service_related .related-post-item__image a {
    max-width: 268px;
    max-height: 150px;
}

.list_service_related .blog-details__image img {
    object-fit: cover;
    width: 100%;
}

.list_service_related .slick-dots button, .list_service_related .slick-dots {
    display: none;
}
.service_wrapper_page .blog-details__image {
    width: 100%;
    height: 500px;
}
    .service_wrapper_page .blog-details__image img {
        object-fit: cover;
        width: 100%;
    }
