<main class="main-wrapper">
    <div class="404-page-section section-padding-01">
        <div class="container custom-container">
            <div class="error-page text-center">
                <div class="error-page__logo">
                    <a href="/"><img src="assets/images/dark-logo.png" alt="Logo"></a>
                </div>

                <div class="error-page__image">
                    <img src="assets/images/page-404-image.png" alt="Error" width="599" height="380">
                </div>

                <div class="error-page__content">
                    <h2 class="error-page__title">Dữ liệu đang trong quá trình cập nhật</h2>
                    <p class="error-page__text">Xin quý khách vui lòng quay lại sau</p>
                    <div class="error-page__btn">
                        <a href="/" class="btn btn-primary btn-hover-secondary"><i class="fal fa-home"></i>Về trang chủ</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>